# /data/goodix labeling

# allow storing goodix data
allow tee mnt_vendor_file:dir search;
allow tee system_data_file:dir create_dir_perms;

# Use system data for pre-P first SDK API level
